.button {
    background-color: #000000;
    border-radius: 20px;
    padding: 10px;
    text-decoration: none;
    color: #ffffff;
    }
    /* Add a black background color to the top navigation */
    .topnav {
      background-color: rgb(0, 0, 0);
      overflow: hidden;
    }
    .coloumn .container:focus,
.coloumn .container:hover {
transform: scale(1.1);
z-index: 1
}
    
    /* Style the links inside the navigation bar */
    .topnav a {
      float: left;
      color: #ffffff;
      text-align: center;
      font-family: 'inter';
      padding: 14px 16px;
      text-decoration: none;
      font-size: 17px;
    }
    
    /* Change the color of links on hover */
    .topnav a:hover {
      background-color: rgb(255, 255, 255);
      color: rgb(0, 0, 0);
    }
    
    /* Add a color to the active/current link */
    .topnav a.active {
      background-color: #000000;
      color: white;
    }
    body {
    margin: 0;
    font-family: 'Inter';
    background-color: #e8e8e8;
    }
    header {
      display: flex;
      justify-content: flex-end;
      padding: 30px;
      }
    
    .ul {
    display: flex;
    }
    
    .nav {
      display: flex;
      justify-content: center;
      position: fixed;
      padding: 20px;
      font-family: 'inter';
    }
    
     .nav a {
      text-decoration: none;
      color: black;
     }
     
    
    li {
    list-style-type: none;
    padding: 20px 20px;
    }
    
    .hero-section {
      padding-top: 100px;
    }
    
    .container {
    transition: transform 500ms;
    display: block;
    margin: auto;
    width: 100%;
    
    position: relative;
    text-align: center;
    font-family: 'inter';
    
    
    }
    
    .container img {
    width: 100%;
    opacity: 1;
    height: auto;
    transition: .5s ease;
    display: block;
    
    }
    
    
    
    .middle {
    background-color: rgb(193, 193, 193);
    font-family: 'inter';
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 50%;
    height: 20%;
    border-radius: 40px;
    text-align: center;
    transform: translate( -50%, -50%)
    }
    
    .main {
      height: 80vh; 
      }
      
      .main-text {
      width: 40%;
      padding: 20px;
      font-family: 'inter';
      }
      
      body {
      transition: 0.3s;
      }
      .switch {
      width: 80px;
      height: 40px;
      background-color: rgb(43, 43, 43);
      border-radius: 20px;
      position: relative;
      margin-right: 30px;
      
      }
      
      .flicker {
      width: 30px;
      height: 30px;
      border-radius: 15px;
      background-color: rgb(255, 255, 255);
      position: absolute;
      top: 5px;
      left: 5px;
      transition: 0.3s;
      box-shadow: 
      inset 4px 4px 4px rgb(237, 236, 236),
      inset -4px -4px 10px rgb(166, 165, 165);
      }
      
      .dark {
      background-color: rgb(33, 33, 33);
      transition: 0.3s;
      }
      
      .moon {
        width: 20px;
        height: 20px;
        border-radius: 10px;
        box-shadow: 4px 4px 0 0 rgb(237, 236, 236);
        position:absolute;
        top: 0px;
        left: 40px;
       }
      
       .dark .flicker {
        transform: translateX(40px);
        transition: 0.3s;
       }
      
       .dark > * {
      color: rgb(255, 255, 255);
       }
      
      .ul {
      display: flex;
      }
    
    .container:hover .middle {
    opacity: 1;
    }
    
    
    .text {
      color: rgb(0, 0, 0);
      font-size: 16px;
      padding: 16px 32px;
    }
    
    
 
 
   
    
    
    
    @media only screen and (min-width: 900px) {
      .container {
        width: 40%;
        
        
      }